<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show() ;ResetForm()"
  mdbWavesEffect>ADD</button>
  
  <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 font-weight-bold">Event Master</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="eventForm">
        <div class="md-form mb-5">
          <i class="fa fa-envelope prefix grey-text"></i>
          <!-- <input mdbInputDirective type="text" id="eventcode" class="form-control" [(ngModel)]="eventcode"> -->
          <input type="email" id="defaultForm-email"  class="form-control validate" formControlName="eventcode" mdbInputDirective>
          <label data-error="wrong" data-success="right" for="defaultForm-email">Event Code</label>
        </div>

        <div class="md-form mb-4">
          <i class="fa fa-lock prefix grey-text"></i>
          <!-- <input mdbInputDirective type="text" id="eventname" class="form-control" [(ngModel)]="eventname"> -->
          <input type="text" id="defaultForm-pass"  formControlName="eventname" class="form-control validate" mdbInputDirective>
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Event Name</label>
        </div>
    
      
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" (click)="submitEvent();frame.hide()"  data-dismiss="model" mdbWavesEffect>Submit</button>
        <button mdbBtn color="default" class="waves-light" (click)="resetEvent()" mdbWavesEffect>Reset</button>
      </div>
    
    </form>
  </div>
    </div>
  </div>
</div>

<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <!-- <th>Edit</th>
      <th>Delete</th> -->
    </tr>
  </thead>
  <tbody *ngIf="persons?.length != 0">
      <tr *ngFor="let person of persons">
          <td>{{ person.id }}</td>
          <td>{{ person.firstName }}</td>
          <td>{{ person.lastName }}</td>
          <!-- <td><a [routerLink]="['/edit', adunit._id]" class="btn btn-primary">Edit</a></td>
          <td><a [routerLink]="" class="btn btn-danger">Delete</a></td> -->
      </tr>
  </tbody>
  <tbody *ngIf="persons?.length == 0">
    <tr>
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  <tbody>
</table>