


 <div style="text-align:center; margin-top :10%;width:400px;" class="login-form" >
  <mdb-card>
      <h5 class="card-header info-color white-text text-center py-4">
          <strong>Sign in</strong>
        </h5>
       <mdb-card-body>
        
        <div class="md-form">
        <input mdbInputDirective type="text" id="username" class="form-control">
        <label for="form1" class="">User Name</label>
      </div>
      
      <div class="md-form">
        <input mdbInputDirective type="password" id="password" class="form-control">
        <label for="form1" class="">Password</label>
      </div>
      <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialContactFormCopy">
                <label class="form-check-label" for="materialContactFormCopy">Remember</label>
            </div>
            
          </div>
          <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
          </div>
        </div>
  
        <!-- Sign in button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>
  
        <!-- Register -->
        <p>Not a member?
          <a href="">Register</a>
        </p>
  
        <!-- Social login -->
        <p>or sign in with:</p>
        <a type="button" class="btn-floating btn-fb btn-sm">
          <i class="fa fa-facebook"></i>
        </a>
        <a type="button" class="btn-floating btn-tw btn-sm">
          <i class="fa fa-twitter"></i>
        </a>
        <a type="button" class="btn-floating btn-li btn-sm">
          <i class="fa fa-linkedin"></i>
        </a>
        <a type="button" class="btn-floating btn-git btn-sm">
          <i class="fa fa-github"></i>
        </a>
  
     
      
    </mdb-card-body>
  </mdb-card> 
</div>
