<div class="row">

		<div class="col-lg-3" style="border-right: 1px solid gainsboro">
			<nav class="navbar navbar-expand-sm bg-light">
				<div class="container-fluid">
				  <ul class="navbar-nav">
					<li class="nav-item">
					  <a routerLink="create" class="nav-link" routerLinkActive="active">
						Create Ad Units
					  </a>
					</li>
					<li class="nav-item">
					  <a routerLink="index" class="nav-link" routerLinkActive="active">
						All Ad Units
					  </a>
					</li> 
				  </ul>
				</div>
			  </nav>
    </div>
		<div class="col-lg-9">
			<div class="col-lg-12">
				<router-outlet>
          
        </router-outlet>
			</div>

		</div>
	</div>
