/* You can add global styles to this file, and also import other style files */
/*
   server-side-angular-way.component.css
*/
//@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ng2-slim-loading-bar/style.css";
.no-data-available {
    text-align: center;
  }
  
  /*
     src/styles.css (i.e. your global style)
  */
  .dataTables_empty {
    display: none;
  }
  .dataTable>thead{

    background-color: blue;
  }